# Ignore everything by default
*

# Except important files
!.gitignore
!main.go
!go.mod
!go.sum
!README.md
!agent.js
!agent-arm64.js
!example.config.yaml

# Keep directories
!internal/
!internal/**
!utils/
!utils/**

# Include GitHub Actions workflow
!.github/
!.github/**
